<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site_name }}</title>

    <!-- <link rel="shortcut icon" href="assets/images/favicon.ico">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ assets_dir }}/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ assets_dir }}/bootstrap-3.3.7/css/bootstrap-theme.min.css" >

    <!-- Specific libraries css and js -->
    <link rel="stylesheet" href="{{ assets_dir }}/css/login_modal.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{ assets_dir }}/js/jquery-3.1.1.min.js"></script>

    <!-- General styles -->
    <link rel="stylesheet" href="{{ assets_dir }}/css/general_styles.css">

    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!-- Here put the general CSS and JS -->
    {% block head %}

    {% endblock %}

</head>
<body>
    {% if user.Role == 1 and loginString %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ public_html_dir }}/index.php"><i class="glyphicon glyphicon-home"></i> {{ site_name }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="popoverData" class="btn" href="{{ public_html_dir }}/mypage.php"
                               data-content="Klikk her for min side"
                               rel="popover"
                               data-placement="bottom"
                               data-original-title="Title"
                               data-trigger="hover"><i class="glyphicon glyphicon-user"></i> {{ user.Username }}</a>
                        </li>
                        <li>
                            <a href="#"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Logg ut">
                                <i class="glyphicon glyphicon-log-out" onclick="logOut()"></i>
                            </a>
                            <script>
                                function logOut() {
                                    window.location.href = "{{ logoutLink }}";
                                }
                            </script>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% elseif user.Role == 2 and loginString %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ public_html_dir }}/index.php"><i class="glyphicon glyphicon-home"></i> {{ site_name }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ public_html_dir }}/mypage.php"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Klikk her for Min Side"><i class="glyphicon glyphicon-user"></i> {{ user.Username }}
                            </a>
                        </li>
                        <li>

                            <a href="#"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Logg ut">
                                <i class="glyphicon glyphicon-log-out" onclick="logOut()"></i>
                            </a>
                        </li>
                            <script>
                                function logOut() {
                                    window.location.href = "{{ logoutLink }}";
                                }
                            </script>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% elseif validated %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ public_html_dir }}/index.php"><i class="glyphicon glyphicon-home"></i> {{ site_name }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% else %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ public_html_dir }}/index.php"><i class="glyphicon glyphicon-home"></i> {{ site_name }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="button" class="btn btn-success btn-sm navbar-btn" data-toggle="modal" data-target="#login_modal">Logg inn</button>
                        </li>>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        {% include 'login_modal.twig' %}
    {% endif %}

{% block content %}{% endblock %}
<footer>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center">
            <!--
            <ul>
                <li>
                    <script type="text/javascript">
                        /* <![CDATA[ */
                        var myDate = new Date;
                        var thisyear = myDate.getFullYear();
                        document.write('<div class="copy">Copyright &copy; 2017 - ' + thisyear + '</div>');
                        /* ]]> */
                    </script>
                    <noscript><div class="copy">Copyright &copy; 2017 - present</div></noscript>
                </li>
            </ul>
            -->
            <div><p>Copyright &copy; {{ site_name }}</p></div>
        </div>
    </div>
    <!-- /.row -->
</footer>

<!-- jQuery -->
<script src="{{ assets_dir }}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ assets_dir }}/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>